<div class="spacer"></div>
<div class="center font-size-4 header" >Remarkabelle</div>
<div class="spacer"></div>
<div class="cf">
    <div class="tab center outline" onclick= "window.location = '/'" >blog</div>
    <div class="tab center outline" >about</div>
    <div class="tab center outline" >gallery</div>
</div>