<!DOCTYPE html>
<head>
    <% include ./partials/header %>
    <script src="/js/edit_post.js"></script>
</head>
<body ng-app="editPost" ng-controller="EditPostController">
    <% include ./partials/tinymce %>
</body>