<!DOCTYPE html>
<head>
    <% include ./partials/header %>
    <script src="/js/new_post.js"></script>
</head>
<body ng-app="newPost" ng-controller="NewPostController">
    <% include ./partials/tinymce %>
</body>