<!DOCTYPE html>
<html>
<head>
    <title>single post</title>
    <% include ./partials/header %>
    <script type="text/javascript" src="/js/single_post.js"></script>
</head>
<body ng-app="singlePost" ng-controller="SinglePostController">
    <div class="container">
        <% include ./partials/layout %>
        <div class="spacer"></div>
        <h1>{{title}}</h1>
        <div class="spacer"></div>
        <div ng-bind-html="postHtml"></div>
        <div class="spacer "></div>
        <button class="right space-right padding font-size-3" ng-click="edit()" style="display:none">Edit</button>
    </div>
</body>
</html>